<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block head %}{% endblock %}</title>
</head>
<body>
    <div class="jumbotron">
    {% block content %}{% endblock %}
    </div>
    <footer>
        <button style="position: absolute;bottom: 5;right: 44%;" class="btn btn-outline-primary btn-success"><a  style="color: aliceblue;" href="https://github.com/NKeymaz">Fallow Me on GitHub</a></button>
    </footer>
</body>
</html>